@media only screen and (max-width: 480px) {

#mainmenu {

}

#chooseLang{
	margin: 0 34px 15px;
	float: right;
}

#chooseLang ul{

}

#chooseLang ul li{

}

#chooseLang a{

}

#chooseLang a:hover{

}

#chooseLang .current a{

}

nav#menu{
	margin: 0px 0 0 0px;
	width: 260px;
	float: right;
}

nav#menu ul{

}

nav#menu ul li{

}

nav#menu ul li a {

}

a:active, a:focus {
	outline: 0
}

img.logo{
	position: absolute;
	left: 20px;
	top: 30px;
	width: 100px;
}

#header, #intro, #second{
	width: 100%;
}

#home{
	background: url(../_images/pa01.png) 50% 0 repeat fixed; /*home gradient*/
	color: black;
}

#home .story{
	overflow: hidden;
}

/*#home .pahome{
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1024px;
	z-index: 200;
	pointer-events: none;
}*/

#home h1, #home h2, #home p{
	font-family: 'Myriad Pro';
}

#home #nonshadow{
	position: relative;
	margin-top: 0;
}

#home #nonshadow img {
	margin: 0;
/*	z-index: 50;*/
	position: absolute;
	top: 30px;
	left: 20px;
	display: block;
	z-index: 2;
}

#home #nonshadow h1 {
	font-size: 6em;
	color: #888;
	z-index: 50;
	position: absolute;
	margin: 0;
	left: 40px;
	top: 200px;
}

#home #nonshadow h2 {
	font-size: 5em;
	color: #555;
	position: absolute;
	margin: 0;
	top: 300px;
	left: 40px;
	z-index: 50;
}

/*beter use bottom for most resolutions?*/
#home #nonshadow p {
	top: 400px;
	left: 40px;
}

#home .story {

}

#home #shadow{

}

#home #shadow p {
	display: none;
}

#home #shadow p:first-child{

}

#home #shadow p:last-child{

}

nav#gebouwnav{
	margin-top: 150px;

}

nav#gebouwnav ul{

}

nav#gebouwnav ul li{
	margin: 0 30px;
}

nav#gebouwnav ul li a{

}

#gebouw{	
	height: 1300px;
	overflow: visible;
}

section#algemeen, section#architect, section#afdeling{
	margin-top: 0px;
}

#gebouw .story{
	width: 370px;
}

#gebouw .story section{
}

#gebouw .story #gerechtsgebouw{
	height: 550px;
}

#gebouw .story #pagerechtsgebouw{
	display: none;
	background: none;
}

#gebouw .story #algemeen img, #gebouw #architect img, #gebouw #afdeling img{

}

#gebouw .story .tekst{
	height: 500px;
}

#gebouw .story .tekst .main, #gebouw .story .tekst .sub, #gebouw .story .tekst .arch, #gebouw .story .tekst .afd{

}

#gebouw .story #scrollarrow{
	clear: right;
	display: none;
}

#gebouw .story #paparkeergebouw{
	display: none;
	background: none;
}

#fotos{

}

#fotos #flexocontainer {
	max-width: 370px;
}

#fotos .story{

}

#fotos .story .pafotos{
	display: none;
}

#praktisch{

}

#praktisch nav#praktischnav{

}

#praktisch nav#praktischnav ul{
	
}

#praktisch nav#praktischnav ul li{

}

#praktisch nav#praktischnav ul li a{

}

#praktisch .papraktisch{
	display: none;
}

#praktisch section{

}

#praktisch .story {

}

#praktisch section#contactmap{
	
}

#praktisch section#contactform{
	
}

#praktisch .praktisch .praktischbox{
	width: 320px;
	margin: 0 auto;
}

#map{

}

#map iframe{

}

#video{

}

#video .story{

}

#video .story #playb {

}

#video .pavideo{

}

/*media*/
#awesome-o h2:nth-child(2){
	margin-top: 20px;
}

/*the story containers*/
.story{
	width: 370px;
	min-width: 370px;
}

.story .tekst{
	width: 370px;
}

/*the textboxes*/
.tekst h1{

}

.tekst p{

}

.tekst li{

}

#afdeling .tekst{

}

/*bulletnav*/
#gebouwennav{

}

#praktischnav{

}

.bullet{

}

.bullet a{

}

} /*eo mediaquery*/