@media only screen and (max-width: 979px) {

p{

}

p, ul{

}

img{

}

h1, #pixels{

}

h2{

}

#mainmenu {

}

#chooseLang{
	font-size: 14px;
	float: none;
	margin:100px auto 0 auto;
	width: 230px;
}

#chooseLang ul{

}

#chooseLang ul li{

}

#chooseLang a{

}

#chooseLang a:hover{

}

#chooseLang .current a{

}

nav#menu{
	float: none;
	width: 480px;
	top: 0;
	left: 0;
	margin: 20px auto;
}

nav#menu ul{

}

nav#menu ul li{
	margin: 0 5px 0 0;

}

nav#menu ul li a {
	padding: 5px 19px 5px 0;
	
}

/*nav#menu ul li a:active, nav#menuv ul li a:focus {*/

a:active, a:focus {
}

nav#menu ul li a:hover {

}

#nav .current a {

}

img.logo{
	width: 90px;
	position: relative;
	margin: 0 auto;
	top: 20px;
	left: 40%;
}

#header, #intro, #second{

}

#home{

}

#home .story{

}

#home h1, #home h2, #home p{

}

#home #nonshadow{
	position: relative;
	margin-top: 0px;
}

#home #nonshadow img {
	position: relative;
	margin: 20px auto 0 auto;	
	top: 0;
	left: 0;
}

#home #nonshadow h1 {
	font-size: 8em;
	left: 30px;
	top: 200px;
}

#home #nonshadow h2 {
	top: 300px;
	left: 80px;
}

/*beter use bottom for most resolutions?*/
#home #nonshadow p {
	top: 400px;
	left: 70px;
}

#home .story {
}

#home #shadow{

}

#home #shadow p {
	display: none;
}

nav#gebouwnav{
	padding: 0px;
	margin-top: 120px;
}

nav#gebouwnav ul{
	float: left;
}

nav#gebouwnav ul li{
	margin-left: 0;
	margin: 0 49px;
}

nav#gebouwnav ul li a{

}

#gebouw{	

}

section#algemeen{
	margin-top: 150px;
}

#gebouw .story{
	width: 480px;
}

/*hammers*/
#gebouw .story #pagerechtsgebouw{
	display: none;
}

#gebouw .story #algemeen img, #gebouw #architect img, #gebouw #afdeling img{
	width: 480px;
	display: none;
}

#gebouw .story .tekst{
	float: none;
	text-align: left;
}

#gebouw .story .tekst .main, #gebouw .story .tekst .sub, #gebouw .story .tekst .arch, #gebouw .story .tekst .afd{
}

#gebouw .story .scrollarrow{

}

#gebouw .story #paparkeergebouw{
	width: 480px;
	display: none;
}

#fotos{

}

#fotos #flexocontainer {
	width: 80%;
	max-width: 600px;
}

#fotos .story{

}

#fotos .story .pafotos{
	width: 480px;
	display: none;
}

#praktisch{

}

#praktisch nav#praktischnav{

}

#praktisch nav#praktischnav ul{
	
}

#praktisch nav#praktischnav ul li{
	
}

#praktisch nav#praktischnav ul li a{

}

#praktisch .papraktisch{
	width: 480px;
	display: none;
}

#praktisch section{

}

#praktisch .story {
}

#praktisch section#contactmap{
	
}

#praktisch section#contactform{
	
}

#praktisch .praktisch .praktischbox{
	width: 440px;
}

#map{

}

#map iframe{

}

#video{

}

#video .story{

}

#video .story a img {

}

#video .pavideo{
	width: 480px;
	display: none;
}

#awesome-o #folder{
	margin: 0px;
	padding: 0px;
}

#awesome-o #poster{
	margin: 0;
	padding: 0;
}

#awesome-o .panieuws{
	width: 480px;
	display: none;
}
#awesome-o h2{
	padding: 0;
	margin: 0 0 15px 0;
	text-align: center;
}

#awesome-o h2:nth-child(2){
	padding-top: 120px;
}

#awesome-o #folder img:first-child{
	margin-bottom: 15px;
}

#awesome-o #folder img, #awesome-o #poster img{
	display: block;
	margin: 0 auto;
}

.story{
	width: 480px;
	min-width: 480px;
}

.story .tekst{
	width: 480px;
}

/*the textboxes*/
.tekst h1{

}

.tekst p{

}

.tekst li{

}

#afdeling .tekst{

}

/*bulletnav*/
#gebouwennav{

}

#praktischnav{

}

.bullet{

}

.bullet a{

}

} /*eo mediaquery*/