@media only screen and (max-width: 979px) {

body{

}

p{

}

p, ul{

}

img{

}

h1, #pixels{

}

h2{

}

#mainmenu {

}

#chooseLang{
	font-size: 14px;
	float: none;
	margin: 0 auto;
	width: 230px;
}

#chooseLang ul{

}

#chooseLang ul li{

}

#chooseLang a{

}

#chooseLang a:hover{

}

#chooseLang .current a{

}

nav#menu{
	float: none;
	width: 520px;
	margin: 10px auto;
}

nav#menu ul{

}

nav#menu ul li{

}

nav#menu ul li a {
	
}

/*nav#menu ul li a:active, nav#menuv ul li a:focus {*/

a:active, a:focus {
}

nav#menu ul li a:hover {

}

#nav .current a {

}

img.logo{

}

#header, #intro, #second{

}

#home{

}

#home .story{

}

#home h1, #home h2, #home p{

}

#home #nonshadow{
	position: relative;
	margin-top: 100px;
}

#home #nonshadow img {
	top: 30px;
	left: 23px;
}

#home #nonshadow h1 {
	font-size: 6em;
	left: 40px;
	top: 200px;
}

#home #nonshadow h2 {
	top: 300px;
	left: 40px;
}

/*beter use bottom for most resolutions?*/
#home #nonshadow p {
	top: 400px;
	left: 40px;
}

#home .story {
}

#home #shadow{

}

#home #shadow p {
	display: none;
}

nav#gebouwnav{

}

nav#gebouwnav ul{

}

nav#gebouwnav ul li{

}

nav#gebouwnav ul li a{

}

#gebouw{	

}

#gebouw .story{
	width: 480px;
}

/*hammers*/
#gebouw .story #pagerechtsgebouw{
	display: none;
}

#gebouw .story #algemeen img, #gebouw #architect img, #gebouw #afdeling img{
	width: 480px;

}

#gebouw .story .tekst{

}

#gebouw .story .tekst .main, #gebouw .story .tekst .sub, #gebouw .story .tekst .arch, #gebouw .story .tekst .afd{

}

#gebouw .story .scrollarrow{

}

#gebouw .story #paparkeergebouw{
	width: 480px;
}

#fotos{

}

#fotos #flexocontainer {
	width: 80%;
	max-width: 600px;
}

#fotos .story{

}

#fotos .story .pafotos{
	width: 480px;
}

#praktisch{

}

#praktisch nav#praktischnav{

}

#praktisch nav#praktischnav ul{
	
}

#praktisch nav#praktischnav ul li{
	
}

#praktisch nav#praktischnav ul li a{

}

#praktisch .papraktisch{
	width: 480px;
}

#praktisch section{

}

#praktisch .story {
}

#praktisch section#contactmap{
	
}

#praktisch section#contactform{
	
}

#praktisch .praktisch .praktischbox{
	width: 440px;
}

#map{

}

#map iframe{

}

#video{

}

#video .story{

}

#video .story a img {

}

#video .pavideo{
	width: 480px;
}

#awesome-o{

}

#awesome-o .panieuws{
	width: 480px;
	display: none;
}

#awesome-o h2{

}

#awesome-o #folder img:nth-child(1){

}

#awesome-o #poster img{

}

.story{
	width: 480px;
	min-width: 480px;
}

.story .tekst{

}

/*the textboxes*/
.tekst h1{

}

.tekst p{

}

.tekst li{

}

#afdeling .tekst{

}

/*bulletnav*/
#gebouwennav{

}

#praktischnav{

}

.bullet{

}

.bullet a{

}

} /*eo mediaquery*/