* {
	margin: 0;
	padding: 0;
}
body {
}
#container {
	background: url('../../_images/bg000.jpg') no-repeat;
	margin: 0 auto;
	height: 1152px;
	display: block;
}
#content{
	margin: 0 45%;
}
header img {
	margin-top: 400px;
	z-index: -9999;
}
nav {
	z-index: 9999;
	position: absolute;
	top: 590px;
	margin-left: -50px;
}
.button {
	width: 250px;
	height: 30px;
	background: url('../../_images/diagonal-noise.png');
	text-transform: uppercase;
	font: 1.3em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
}
.button a {
	text-decoration: none;
	color: #000;
}
.button a:hover {
	color: red;
	cursor: pointer;
}
.button a:active{
	color: red;
}
#en {
	padding-left: 5px;
	margin-left: 150px;
}
#nl,
#fr {
	text-align: right;
	padding-right: 5px;
}