/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike).
Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, 
place a link on your website to http://www.ianlunn.co.uk/.
*/

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	background-color: #ececed;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	border: none;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

/*this is for the "scrolled pixels */
/*.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}*/

/*#nav{
	position: fixed;
	float: right;
}*/

nav {
	left: 0;
	list-style: none;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	height: 85px;
	z-index: 9999;
	text-align: right;
}

ul#nav{
	padding: 30px 50px;
}

ul#nav li{
	display: inline-block;
	border-top: 1px solid #767a7d;	
	margin: 0 5px;
}

ul#nav li a {
	color: #636466;
	display: block;
	font-size: 18px;
	padding: 5px 20px 5px 0;
	text-decoration: none;
	text-transform: lowercase;
}

ul#nav li a:hover {
	color: #cc6666;
}

#nav .current a {
	color: #cc6666;
}

/*#nav .current a:hover {
	color: yellow;
}*/

img.logo{
	position: absolute;
	left: 40px;
	top: 40px;
}

#header, #intro, #second{
	width: 100%;
}

#home{
	background:url(../../_images/bg01.png) repeat fixed;
	color: black;
	height: 1300px;
}

#home h1, #home h2, #home p{
	font-family: 'Myriad Pro';
}

#home .story img {
	margin: 300px 0 0 0;
	z-index: 50;
}

#home h1 {
	font-size: 5em;
	color: #888;
	margin: -250px 0 0 190px;
	z-index: 9999;
}

#home h2 {
	font-size: 5em;
	color: #555;
	margin: -40px 0 0 270px;
}

#home p {
	color: #888;
	font-size: 1.7em;
	margin: -30px 0 0 265px;
}

#home .story {
	padding-top: 150px;
	margin: 0px 0 0 300px;
	height: 1000px;
}

#home #shadow p {
	position: absolute;
	font-size: 15em;
	color: rgba(255, 255, 255, .0);
	text-shadow: 1px 1px 15px rgba(0, 0, 0, .2);
	left: -200px;
	z-index: 0;
	cursor: default;
}

#home #shadow p:first-child{
	top: 250px;
}

#home #shadow p:last-child{
	top: 600px;
	left: 100px;
}

#gebouw{	
	background: url(../../_images/bg02c.png); /*gradient*/
	background-repeat: repeat-x;
/*	background-position-x: 0; 
	background-position-y: 0;*/
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	color: black;
	position: relative;
}

#gebouw .story{
	width: 100%;
}

#gebouw .story #gerechtsgebouw{

}

#gebouw .story section#gerechtsgebouw .pagerechtsgebouw{
	background: url(../../_images/pa02a.png) 50% 0 no-repeat fixed; /*hammers*/
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1024px;
	z-index: 200;
	pointer-events: none;
}

#gebouw .story .gebouwen img{
	margin-top: 200px;
	width: 600px;
}

#gebouw .story .gebouwen .float-right{
	text-align: right;
/*	background-color: yellow;*/
	position: inline-block;
	float: right;
}

#gebouw .story #parkeergebouw{

}

#gebouw .story section#parkeergebouw .paparkeergebouw{
	background: url(../../_images/pa02b.png) 50% 0 no-repeat fixed; /*parkingtickets*/
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1024px;
	z-index: 200;
	pointer-events: none;
}

#bulletnav{
	margin-top: 50px;
}

.bullet{
	background-color: #2096d3;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#leftbullet{
	background-color: #2096d3;	
	margin-left: 80px;
}

#rightbullet{
	background-color: #b2b2b2;
	margin-left: 20px;
}

#fotos{
	background: url(../../_images/bg03.png) 50% 0 repeat fixed; /*wood texture*/
	color: white;
	height: 1300px;
	padding: 0px 0 0 0;	
	position: relative;
}

#fotos .story{

}

#fotos .story .pafotos{
	background: url(../../_images/pa03.png) 50% 0 no-repeat fixed; /*filmrol*/
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1024px;
	z-index: 600;
	pointer-events: none;
}

#praktisch{
	background: url(../../_images/bg04.png) repeat fixed; /*tiles texture*/
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	color: black;
	position: relative;
}

#praktisch .papraktisch{
	background: url(../../_images/pa04.png) 50% 0 no-repeat fixed; /*gps*/
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 960px;
	z-index: 200;
	pointer-events: none; /*add IE hack*/
}

#map{
	margin-top: 150px;
}

#map iframe{
	margin: 0;
	border: none;
}

#video{
	background: url(../../_images/bg05.jpg) repeat fixed; /*tiles texture*/
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	color: black;
	position: relative;
}

#video .story{
/*	border: 1px solid red;*/
}

/*#video .story img{
	height: 1300px;
	border: 1px solid #333;
}*/

#video .pavideo{
	background: url(../../_images/pa05.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1024px;
	z-index: 200;
	pointer-events: none; /*add IE hack*/
}

#nieuws{
	background: url(../../_images/bg06.png);
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	color: #000;
}

#nieuws .panieuws{
	background: url(../../_images/pa06.png) 50% 0 fixed;
	background-repeat: no-repeat;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 960px;
	z-index: 200;
}

#nieuws .bg{
/*	background: url(../_images/test.png) 50% 0 fixed;*/
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 960px;
	z-index: 200;
}

#nieuws .story .float-left{
	border: 1px solid #333;
}

#nieuws .story .float-right h1{
	border-bottom: 1px solid #333;
	border-top: none;
	text-align: right;
}

#nieuws .story .float-right table{
	text-align: right;
}

#nieuws .story .float-right table tr td:nth-child(2){
	width: 310px;
}

/*the story containers*/
.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 150px 0 0 0;
	position: relative;
	width: 350px;	
}

/*the textboxes*/
.float-left h1, .float-right h1{
	text-transform: uppercase;
	border-top: 1px solid #333;
}

.float-left p, .float-right p{
	font-size: 14px;
	line-height: 24px;
}

/*the slideshow*/
.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}





@media only screen and (min-width: 35em) {

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}